/* Configurações gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* Rolagem suave ao clicar nos links do menu */
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}


/* Estrutura principal */

#main-header {
    width: 100%;
    position: fixed; /* Deixa o cabeçalho fixo no topo da página */
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
}

main {
    /* Cria um espaço no topo da página para que o conteúdo da primeira seção
       não fique escondido atrás do cabeçalho fixo */
    padding-top: 80px; 
}

.section-container {
    /* Garante tela cheia */
    width: 100%;
    min-height: 100vh; /* Garante que a seção tenha, no mínimo, a altura total da tela */
    
    /* Centraliza o conteúdo dentro da seção */
    display: flex;
    justify-content: center; /* Alinha na vertical */
    align-items: center;   /* Alinha na horizontal */
}

/* --- Quem somos nós? --- */
/* --- Nossos objetivos ---*/

.content-window {
    width: 100%;
    max-width: 800px;
    /*border: 3px solid;*/
    margin: 20px;

    border: 15px solid black;
    box-shadow: 
                0 0 0 4px white,
                0 0 0 8px black;
}

.window-header {
    /*border-bottom: 3px solid;*/
    padding: 25px;
}

.window-body {
    padding: 25px;
    line-height: 1.6;
}

/* --- Projetos --- */

.window-header-projetos {
    /*border-bottom: 3px solid;*/
    padding: 25px;
    background-color: gray;
}

.window-header-projetos h2 {
    background-color: white;
}

/* --- Integrantes --- */

.content-window.wider {
    max-width: 960px;
}

.members-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    text-align: center;
}

.member-card {
    border: 2px solid;
    padding: 15px;
}

.member-card img {
    max-width: 120px;
    margin-bottom: 10px;
    image-rendering: pixelated;
}

.window-header.center-header {
    text-align: center;
    padding: 5px;
}

/* --- Contate-nos --- */

.window-header-contate-nos {
    padding: 25px;
    background-color: gray;
}

.contact-form {
    padding: 15px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 2px solid;
}

.form-group button {
    font-family: var(--font-family);
    font-size: 22px;
    padding: 10px 20px;
    border: 2px solid;
    cursor: pointer;
}

/* --- Rodapé --- */

footer {
    text-align: center;
    padding: 40px 0;
}
footer a {
    margin: 0 15px;
}
footer img {
    width: 40px;
    height: 40px;
}